*.la
*.lo
*.o
*.stamp
*.sw?
*~
.*stamp
.deps
.libs
.sw?
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/libtool
/loadargb_cursor
/missing
/steamcompmgr
/steamos-compositor-*.tar.*
/steamos-compositor-*/
/udev_is_boot_vga
Makefile
Makefile.in
TAGS
tags
