Source: steamos-compositor
Maintainer: Pierre-Loup Griffais <pgriffais@valvesoftware.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends:
 autoconf,
 automake,
 debhelper (>= 10~),
 libgl1-mesa-dev,
 libsdl-image1.2-dev,
 libudev-dev,
 libx11-dev,
 libxcomposite-dev,
 libxdamage-dev,
 libxrender-dev,
 libxxf86vm-dev,
 pkg-config,

Package: steamos-compositor
Architecture: any
Depends:
 libsdl-image1.2,
 libudev1,
 ${misc:Depends},
 ${shlibs:Depends},
Description: SteamOS Compositor
 Provides graphics compositor services for the full-screen environment of SteamOS
